/** DRY - DONT REPEAT YOURSELF*/
/* **** Custom Properties *** */
/*variables qeu tendremos basandolos en el stylo del proyecto brindado en figma*/
:root {
  --first-color: #d90062;
  --first-alpha-color: rgb(210, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #ffffff;
  --gray-light-color: #f3f3f3;
  --gray-color: #cccccc;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --link-color: #509ee3;
  --title-color: #333333;
  --text-color: #222222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --font: "Raleway", "san-serif";
  --max-width: 1200px;
  --header-heigth: 4rem;
}
/* **** Reset(se hará un reseteo general al documento al modelo de caja) *** */

html {
  box-sizing: border-box; /*reseteo del modelo de caja - ancho y altura va desde el borde y no del contenido(asi se evita la no correspondencia de los paddings y border)*/
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth; /*para dar efecto de transisciones*/
}
/*con el selector universal para que sus contenidos dinamicos con after y before, todos los elementos hereden el tamaño de caja del nodo principal html*/
*,
*::after,
*::before {
  box-sizing: inherit;
}
/*para los h, se convierte el tamaño de fuentes que esta en px a rem(1 rem=16px*h1- ademas dejamos con borde 0*/

body {
  margin: 0;
  overflow-x: hidden; /*(para evitar la barra de desplazamiento)*/
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}
a :hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6; /*para interlineado entre cada parrafo*/
}
/* **** component code*** */

/**inicio componente**/
/* **** hero image *** */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover; /*se adapta a la manera proporcial del contenedor*/
  background-position: center;
  background-attachment: var(--hero-attachment); /*para que no haga scroll*/
}
.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw; /*significa qeu toma el 7.5 de manera proporcional del tamaño de la pantalla*/
  color: var(--hero-text-color);
}
/* **** Menu*** */
.menu-btn {
  /*para el mobile*/
  background-color: var(--second-color);
  border: 0;
  outline: thin solid var(--first-color);
  cursor: pointer;
}
.menu-btn svg {
  fill: var(--first-color); /*para dar un relleno para las svg*/
}
.menu {
  position: fixed; /*nota:pierde sus propiedades de alto y ancho al usar fixed*/
  left: 0;
  bottom: var(--header-heigth);
  width: 100%;
  display: flex; /*para acomodar los componentes del menu*/
  flex-direction: column;
  opacity: 0; /*ocultaremos a menu para luego habilitarlo con una funcion de js*/
  transition: opacity 0.5s ease;
  pointer-events: none; /*para que no reacciones a interactividad*/
  background-color: var(--second-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}

/*para desktop*/
@media screen and (min-width: 1024px) {
  /*se iran quitando algunas propiedases que tenian como mobile para adptar a desktop*/
  .menu-btn {
    display: none; /*para desktop no necesitamos en este boton*/
  }
  .menu {
    position: static; /*se le debe regresar al valor natural*/
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    /*a la ultima de la lista del menu  se le quita el pading*/
    padding: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/*fin menu*/

/***** modal****/
.modal {
  position: fixed;
  /*posicionar de manera fija*/
  z-index: 999; /*para que este sobre cualquier contenido */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none; /*se quita la interactividad*/
  transition: all 1s;
}
.modal-content {
  position: relative;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}
.modal[id|="trabajo"]:target {
  /*el | indica que cualquier vamos que inicie con la palabra seleccionada"trabajo" se active*/
  opacity: 1;
  pointer-events: auto;
}
/** fin modal**/

/****progressBar****/
progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}
/*se ralizar pseudo clases para los navegadores web como el webkit(chrome,safari,etc y el moz(mozilla)*/
progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}
progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}
progress::-moz-progress-bar {
  background-color: var(--gray-dark-color);
}
.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

/***fin progressBar***/

/******fin componente********/

/* **** Utilities *** */
.bg-gray-light {
  background-color: var(--gray-light-color);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
.box-shadow-1 {
  box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gray-scale {
  filter: grayscale(1);
}
.none {
  display: none;
}
.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}

/* **** Site Styles*** */

.about > article {
  margin-bottom: 2rem;
}
/* version mobile */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-heigth);
  background-color: var(--second-color);
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0;
  display: block;
}
.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*para evirar la deformacion de la imagen*/
}
.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}
.portfolio-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.portfolio-modal h3 {
  margin-top: 1rem auto;
  border-bottom: medium solid var(--first-color);
  padding: 0.5rem 0;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}
.portfolio-details b {
  color: var(--first-color);
}
.service-card {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.service-card svg {
  fill: var(--first-color);
  margin-bottom: 1.25rem;
}

.service-card h3 {
  color: var(--title-color);
}

/* trabajaremos en media query */
/* para trabajar el menu en tablet */
@media screen and (min-width: 768px) {
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
  }
  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }
  .portfolio .section-title {
    grid-column: span 2;
  }
  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }

  .services .section-title {
    grid-column: span 2; /*para que ocupe en 2 columnas*/
  }
}
/* //para cabezara en version desktop */
@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }
  .header {
    position: sticky; /* se comporta como elemento fijo, para que no tape el siguiente contenido anterior html */
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-heigth)- 0.5rem);
  }
  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }
  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3; /*para que ocupe en 2 columnas*/
  }
}
